img{
    max-width:100%;
    height:auto;
}
.banner{
    position: relative;
}
.menu{
    a{
    color:#8D8D8D;
    margin-bottom:15px;
    }
    a:hover{
        color:#8D8D8D;
    }
}

.intro{
    color:$white;
    /*position: absolute;
    left:1000px;
    top:300px;*/
    h1{
        font-size:40px;
        line-height:60px;
    }
    p{
        font-size:24px;
        line-height:36px;
    }
    .btn-white{
        font-size:28px;
        line-height:36px;
    }
    .btn-white:hover{
            background-color:$white;
            color: $primary;
        }
}

.btn-white{
    border-radius: 50px;
    padding:15px 100px;
    border:1px $white solid;
    color:$white;
}
.btn-black{
    border-radius: 50px;
    padding:15px 50px;
    border:2px black solid;
    color:black;
}
.btn-black:hover{
    background-color:$primary;
    color:$white;
    border:none;
}
.bg-gray{
    background-color: #E0E0E0;
}
.mt-40{
    margin-top:40px;
}

.origin_price{
    color: #8D8D8D;
}
h1{
    font-size:24px;
    line-height:36px;
}
p{
    font-size:16px;
    line-height:24px;
}
.footer{
    background-color: $primary;
    color:$white;
}
.recycle{
    padding-top:82px;
}

.footer-top{
    position: relative;
}

.subscribe{
    position: absolute;
    left:300px;
    top:200px;
    h1{
        color:#8D8D8D;
        font-size:32px;
        line-height:48px;
        font-weight:500;
    }
}
.email{
    height:60px;
}
.brand{
    background-color: $primary;
    color:$white;
}

.pt-10{
    padding-top:10px;
}

.pt-20{
    padding-top:20px;
}

.pt-30{
    padding-top:30px;
}

.pb-30{
    padding-bottom:30px;
}

.mr-10{
    margin-right:10px;
}


.mr-20{
    margin-right:20px;
}


.mb-20{
    margin-bottom:20px;
}

.mb-60{
    margin-bottom:60px;
}

.mb-80{
    margin-bottom:80px;
}

.mt-100{
    margin-top:100px;
}
.login h1{
    font-size:32px;
    line-height:48px;
    font-weight:bolder;
}